<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Scrape</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
  <nav class="blue" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn blue lighten-3 scrape-btn" href="/scrape"><i
              class="material-icons right">http</i>scrape new bids</a></li>
        <li><a href="/articles">Saved Bids</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a class="scrape-btn" href="/scrape">Scrape New Bids</a></li>
        <li><a href="/articles">Saved Bids</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="section">

      {{{ body }}}

    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal-count" class="modal">
    <div class="modal-content">
      <h4>You scraped {{scrapeCount}} Bids!</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <p class="grey-text text-lighten-4">All you have to do is Scrape and Save.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Menu</h5>
          <ul>
            <li><a class="white-text scrape-btn" href="/scrape">Scrape New Bids</a></li>
            <li><a class="white-text" href="/articles">Saved Bids</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="orange-text text-lighten-3" href="">Link to GitHub Repo</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="js/init.js"></script>
  <script src="js/app.js"></script>
</body>

</html>