<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center red-text">Make a bid</h1>
    <div class="row center">
      <h5 class="header col s12 light"></h5>
    </div>
    <div class="row center">
      <a href="/scrape" class="btn-large waves-effect waves-light green scrape-btn">Get Started</a>
    </div>
    <br><br>

  </div>
</div>